* {
  margin: 0;
  text-decoration: none;
}

html {
  height:100%;
}

body {
  min-height: 100%;
  position: relative;
  background: #f0f2f5;
}

.box {
  padding-top: 25px;
}

.rodape {
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(52, 41, 128);
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.left {
  text-align: center;
  margin-right: 20px;
}

.right {
  width: 400px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

@media screen and (max-width: 800px) {
  .box {
    padding-top: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .left {
    margin: 0 auto;
    padding: 10px;
  }
  .right {
    margin: 20px auto;
  }
}

@media screen and (max-width: 400px) {
  .right {
    margin: 20px auto;
    width: 75%;
  }
}